name: "Terraform Apply"

on:
  push:
    branches:
      - main

env:
  TF_CLOUD_ORGANIZATION: "Terraform-Labs-2025"
  TF_API_TOKEN: "${{ secrets.TF_API_TOKEN }}"

jobs:
  # JOB 1: Detect Changed Folders
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Get changed directories
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          dir_names: true
          dir_names_max_depth: 2
          json: true
          files: |
            **/*.tf
            **/*.hcl

      - name: Set Matrix
        id: set-matrix
        run: |
          if [[ -z "${{ steps.changed-files.outputs.all_changed_files }}" ]]; then
            echo "matrix=[]" >> "$GITHUB_OUTPUT"
          else
            echo "matrix=${{ steps.changed-files.outputs.all_changed_files }}" >> "$GITHUB_OUTPUT"
          fi

  # JOB 2: Apply (Parallel Matrix)
  terraform-apply:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.matrix != '[]' && needs.detect-changes.outputs.matrix != '' }}
    name: "Apply - ${{ matrix.folder }}"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        folder: ${{ fromJson(needs.detect-changes.outputs.matrix) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get Workspace Name
        id: ws-name
        run: |
          FOLDER="${{ matrix.folder }}"
          CLEAN_NAME=$(basename "$FOLDER")
          echo "workspace=$CLEAN_NAME" >> "$GITHUB_OUTPUT"

      - name: Upload Configuration
        uses: hashicorp/tfc-workflows-github/actions/upload-configuration@v1.3.2
        id: apply-upload
        with:
          workspace: ${{ steps.ws-name.outputs.workspace }}
          directory: ${{ matrix.folder }}

      # This Action handles Auto-Apply logic automatically
      - name: Create Apply Run
        uses: hashicorp/tfc-workflows-github/actions/create-run@v1.3.4
        id: create-run
        with:
          workspace: ${{ steps.ws-name.outputs.workspace }}
          organization: ${{ env.TF_CLOUD_ORGANIZATION }}
          configuration_version: ${{ steps.apply-upload.outputs.configuration_version_id }}
          token: ${{ secrets.TF_API_TOKEN }}
          message: "Applied via GitHub Actions from ${{ matrix.folder }}"